/*
* --------------------------------------------
* Custom styles to override the default Bootstrap ones
* --------------------------------------------
*/

/* New Color Palette:
* Feldgrau (Text):         #f2fbf2    5B6C5D  (text, contrast with dark)
* Light Coral (Primary):   #EF6F6C
* YInMn Blue (Secondary): #465775     (canvas background)
* Aquamarine (Accent):  #56E39F
*/

.bg-info {
    background-color: #465775 !important;
    /* Light green for secondary backgrounds */
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #EF6F6C;
    /* Dark green for brand name & nav links for visibility */
}

.btn-info {
    color: #5B6C5D;
    /* Lightest shade for text on info button for contrast */
    background-color: #465775;
    /* Light green for button background */
    border-color: #EF6F6C;
    /* Dark green for button border */
}

.btn-primary {
    color: #5B6C5D;
    /* Lightest shade for text */
    font-size: 150%;
    background-color: #EF6F6C;
    /* Dark green for primary button background */
    border-color: #56E39F;
    /* Reddish-brown for border to use as accent */
    border-width: thick;
}

body {
    background-color: #5B6C5D;
    /* Lightest shade for body background to follow the 60% rule */
}

.navbar-brand {
    font-family: 'Caveat', cursive;
    /*change the font name for what you have*/
    font-size: 2.25rem;
}